@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    height: 100%;
<<<<<<< Updated upstream
    overflow: auto
=======
    overflow: auto;
>>>>>>> Stashed changes
}

body {
    background: linear-gradient(to right, #05d6d9, #f907fc, #05d6d9, #f907fc);
    background-size: 400% 400%;
    animation: movingGradient 120s ease infinite;
    animation-play-state: running;
    width: 100%;
    height: 100%;
    margin: 0;
<<<<<<< Updated upstream
    overflow: auto
=======
    overflow: auto;
>>>>>>> Stashed changes
}

div {
    overflow: hidden;
    margin: 50px 37% 3%;
    background-color: rgba(234, 234, 236, 0.37);
    border-radius: 25px;
    color: black;
}

div input {
    border-radius: 25px;
    border-color: transparent;
    width: 20%;
}

div select {
    border-radius: 25px;
    border-color: transparent;
    background-color: transparent;
}

div span {
    width: 10%;
    background-color: transparent;
    margin: 0;
}

div .umrechnen {
    margin-left: 20%;
<<<<<<< Updated upstream
=======
}

div .info {
    margin-left: 17%;
}

div .info:hover {
    cursor: pointer;
>>>>>>> Stashed changes
}

div p,
div h2 {
    text-align: center;
}

div button {
    border-radius: 25px;
    border-color: transparent;
    margin-bottom: 5%;
}

div button:hover {
    cursor: pointer;
}

div .basis {
    width: 5%;
    margin-left: 0;
}

.javascript_aufgabe {
    margin-top: 0;
    margin-left: 85%;
    margin-right: 5%;
    border-radius: 25px;
    border-color: transparent;
    transition-duration: 0.5s;
    background: rgba(234, 234, 236, 0.37);
}

.javascript_aufgabe:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
    cursor: pointer;
}

#no_margin_bottom {
    margin-bottom: 0;
<<<<<<< Updated upstream
=======
}

@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
>>>>>>> Stashed changes
}